<launch>

<arg name="set_map_frame"  default="map"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

   <node pkg="map_server" name="map_server" type="map_server" 
      args="$(find turtlebot3_gazebo)/maps/house.yaml">
    <param name="frame_id" value="$(arg set_map_frame)"/>
  </node>

    <!-- launch the overall visualization on rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find turtlebot3_gazebo)/rviz/multi_adhoc_turtlebot3.rviz"/>
  
</launch>